[project]
	description = The goblint static analysis framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ralf Vogler (vogler)
[access "refs/for/refs/*"]
	read = group user/Ralf Vogler (vogler)
	push = group user/Ralf Vogler (vogler)
	label-Code-Review = -2..+2 group user/Ralf Vogler (vogler)
	label-Verified = -1..+1 group user/Ralf Vogler (vogler)
	rebase = group user/Ralf Vogler (vogler)
	removeReviewer = group user/Ralf Vogler (vogler)
	submit = group user/Ralf Vogler (vogler)
[access "refs/heads/*"]
	read = group user/Ralf Vogler (vogler)
	create = group user/Ralf Vogler (vogler)
	push = +force group user/Ralf Vogler (vogler)
	pushMerge = group user/Ralf Vogler (vogler)
[access "refs/tags/*"]
	push = +force group user/Ralf Vogler (vogler)
	pushTag = group user/Ralf Vogler (vogler)
	pushSignedTag = group user/Ralf Vogler (vogler)
